%boton-padre{
  height: 100px;
  width: 200px;
  color: #fff;
  border-radius: 5px;
}

.boton-green{
  @extend %boton-padre;
  background-color: green;
}

.boton-blue{
  @extend %boton-padre;
  background-color: blue;
}
